body {
  margin: 0px;
  background-color: rgb(166, 255, 225);
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 5px;
}
h3 {
  margin: 5px 0px;
}
p {
  text-align: center;
  font-size: 25px;
}
.players_division {
  display: flex;
  justify-content: space-around;
}
.player1 {
  text-align: center;
  font-size: 30px;
}
.player2 {
  text-align: center;
  font-size: 30px;
}
#pic1 {
  width: 50%;
  box-shadow: 5px 5px 5px 5px rgb(123, 255, 211);
}
#pic2 {
  width: 50%;
  box-shadow: 5px 5px 5px 5px rgb(123, 255, 211);
}
.play {
  background-color: rgb(123, 255, 211);
  font-weight: bold;

  font-size: 25px;
  padding: 1% 10%;
  box-shadow: 5px 5px grey;
  position: absolute;
  top: 90%;
  left: 37%;
}
#newGame {
  background-color: rgb(123, 255, 211);
  font-weight: bold;
  font-size: 25px;
  padding: 1% 10%;
  box-shadow: 5px 5px grey;
  position: absolute;
  top: 50%;
  left: 35.5%;
}
.mainnewgame {
  text-align: center;
}
#noneDisplay {
  display: none;
}
#player1Counter {
  width: 20%;
  height: 20%;
  font-size: 35px;
  margin-left: 40%;
}
#player2Counter {
  width: 20%;
  height: 20%;
  font-size: 35px;
  margin-left: 40%;
}
