body {
  background-color: rgb(166, 255, 225);
}
h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}
.players_division {
  display: flex;
  justify-content: space-around;
}
.player1 {
  text-align: center;
  font-size: 30px;
}
.player2 {
  text-align: center;
  font-size: 30px;
}
#pic1 {
  width: 50%;
  box-shadow: 5px 5px 5px 5px rgb(123, 255, 211);
}
#pic2 {
  width: 50%;
  box-shadow: 5px 5px 5px 5px rgb(123, 255, 211);
}
.play {
  background-color: rgb(123, 255, 211);
  font-weight: bold;
  margin-top: 5%;
  font-size: 25px;
  padding: 1% 10%;
  box-shadow: 5px 5px grey;
  margin-left: 37.8%;
}
